body {
    background-color: #ffffff;
    margin: 0; /* Remove margem padrão do body */
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centro {
    width: 300px; /* Largura da div centralizada */
    height: 200px; /* Altura da div centralizada */
    text-align: center; /* Alinha o texto ao centro dentro da div */
    background-color: rgba(255, 255, 255, 0.5); /* Fundo semi-transparente */
    border-radius: 10px; /* Borda arredondada */
    padding: 20px; /* Espaçamento interno */
}

.btn {
    /* Estilo básico do botão */
    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px; /* Espaçamento interno */
    background-color: #6B8E23; /* Cor de fundo */
    color: white; /* Cor do texto */
    border: 2px solid #000000; /* Borda sólida de 2px com a mesma cor do fundo */
    border-radius: 5px; /* Borda arredondada */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Cursor de ponteiro ao passar por cima */
    margin: 5px; /* Espaçamento entre os botões */
    transition: background-color 0.3s, color 0.3s; /* Transição suave de cor */
}

.question {
    -webkit-text-stroke: 1px #485f48;
    color: #8FBC8F;
    font-family: 'Montserrat', sans-serif;
}

.lana {
    position: fixed; /* Posição fixa */
    top: 100px; /* Distância do topo */
    right: 30px; /* Distância da direita */
    height: auto;
    width: 200px;
}

.giselle {
    position: fixed; /* Posição fixa */
    bottom: 50px; /* Distância do topo */
    left: 30px; /* Distância da direita */
    height: auto;
    width: 200px;
}
.gif-overlay {
    position: fixed; /* Posição fixa para sobrepor todos os elementos */
    width: 25%;
    height: 100%;
    z-index: 9999; /* Z-index alto para garantir que fique acima dos outros elementos */
    top: 200px; /* Distância do topo */
    right: 350px; /* Distância da direita */
}
